<!DOCTYPE html>
<html lang="ko">

  <head>
    <head th:insert="fragments.html::header"></head>
    <link rel="stylesheet" href="/static/assets/css/style.min.css" id="switchThemeStyle">
  </head>

  <body>
    <!-- Loader -->
    <div th:insert="fragments.html::loader"></div>

    <div class="d-flex flex-column flex-root">
      <!--Page-->
      <div class="page d-flex flex-row flex-column-fluid">

        <!--///////////Page content wrapper///////////////-->
        <main class="page-content overflow-hidden ms-0 d-flex flex-column flex-row-fluid">
          <!--//content//-->
          <div class="content p-1 d-flex flex-column-fluid position-relative">
            <div class="container py-4">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-8 col-lg-5 col-xl-4">
                  <!--Logo-->
                  <p
                    class="d-flex position-relative mb-4 z-index-1 align-items-center justify-content-center">
                    <span class="sidebar-icon size-60 bg-gradient-primary text-white rounded-3">
                       <b class="fw-bolder fs-3">R</b>
                    </span>
                  </p>
                  <!--Card-->
                  <div class="card card-body p-4">
                    <h4 class="text-center mb-4">회원가입</h4>
                    <form class="z-index-1 position-relative needs-validation" novalidate="" th:action="@{/signup}" method="post" >
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" required=""
                            id="username" name="username" placeholder="name@example.com">
                        <label for="username">Email</label>
                        <span class="invalid-feedback">올바른 형식으로 이메일을 입력하세요.</span>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" required="" class="form-control"
                            id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                        <span class="invalid-feedback">패스워드를 입력하세요.</span>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" required="" class="form-control"
                            id="confirmPassword" name="confirmPassword" placeholder="Password">
                        <label for="confirmPassword">Confirm Password</label>
                        <span class="invalid-feedback">동일한 패스워드 값을 입력하세요.</span>
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
                      <hr class="mt-4">
                      <p class="text-muted text-center">
                        가입된 이메일이 있습니까?
                        <a th:href="@{/login}" class="ms-2 text-body">Sign In</a>
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--///////////Page content wrapper end///////////////-->

           <!--//Page-footer//-->
           <footer class="pb-3 pb-lg-5 px-3 px-lg-5">
              <div class="container-fluid px-0">
                <span class="d-block lh-sm small text-muted text-end">&copy;
                  <script>
                    document.write(new Date().getFullYear())
                  </script>. Copyright
                </span>
              </div>
            </footer>
            <!--/.Page Footer End-->
          </main>
      </div>
    </div>

    <!--////////////Theme Core scripts Start/////////////////-->
    <script src="/static/assets/js/theme.bundle.js"></script>

    <!--////////////Theme Core scripts End/////////////////-->

  </body>

</html>
